<div class="body">
    <div class="container"> 
        
        <div class="card center">
            
            <h4 style="margin-top: 10px">Login</h4>
            
            <form class="mb-2" method="POST">
            
                <div>
                    <h6>Usuario</h6>
                    <div class="col-md-6 mb-3">
                        <input type="text" [(ngModel)]="loginDTO.usuario" [ngModelOptions]="{standalone: true}" class="form-control-sm"  id="inputUsuario" placeholder="Digite seu usuario">
                    </div>
                </div>

                <div>
                    <h6>Senha</h6>
                    <div class="col-md-6 center mb-3">
                        <input type="password" [(ngModel)]="loginDTO.senha" [ngModelOptions]="{standalone: true}" class="form-control-sm"  id="inputSenha" placeholder="Digite sua senha">
                    </div>
                </div>

                <div>
                    <button type="submit" value="submit" class="btn btn-warning btn-sm mb-2" (click)="login()">Entrar</button>
                </div> 
                
                <div>
                    <h6>Não possui uma conta? <a style="text-decoration: none; color: rgb(234, 218, 28);" [routerLink]="['/cadastro']">Cadastre-se</a></h6>
                </div>

            </form>
        </div>
    </div>
</div>